<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
</head>

<body>

    <header>
        <br>
        <br>

        <center>
        <h2>Sobre mi</h2>
        <br>
        <img src="../img/fotocara1.jpg" alt="foto-cara-principal" width="200" height="250">
        </center>

    </header>

    <main>

        <br>
        <p>Mi nombre es Lola y tengo 19 años. Nací en Buenos Aires, Argentina. Soy una persona creativa y apasionada por aprender muchas cosas y crecer como persona.</p>
        <p>Mi cumpleaños es el 14/06/2006, soy de Géminis</p>
        <p>Actualmente estoy estudiando en el IFTS N°18 la carrera de Desarrollo de Software, ya que me interesa mucho el mundo de la tecnología y la programación desde que tengo 14 años.</p> 
        
        <br>
        <p>Antes de conocer el rubro de sistemas, lo que me gustaba era el ambiente artístico en base a lo actoral. Debajo muestro varios proyectos que realicé!</p>

        <h3>8 meses - 14 años</h3>
        <p>Tengo un recorrido actoral desde que tengo ocho meses, mi primer trabajo fue participando para una gráfica para Cheeky, la marca de ropa</p>
        <br>
        <img src="../img/cheeky.png" alt="foto-cheeky" width="300" height="200"> 
        <br>
        <p>Luego estuve en varias <b>revistas</b></p>
        <img src="../img/revista1.png" alt="revista1" width="200" height="300"> 
        <img src="../img/revista2.png" alt="revista2" width="200" height="300"> 
        <br>

        <p>Salí en varias <b>novelas</b>, como alumna <i>(presento los links de YouTube debajo)</i></p>
        <a href="https://youtu.be/0yNMsVWIrRY?si=54y-I3LB0411rcQv">Los ricos no piden permiso</a>
        <br>
        <img src="../img/novela1.png" alt="losricosnopidenpermiso" width="250" height="150">
        <br>
        <a href="https://www.instagram.com/p/BnZ-4FFgyTC/?igsh=dWZzYXcwbG1lamNp">100 días para enamorarse</a>

        <p>También participé en varios <b>comerciales</b>! Mi favorito es el de Coca Cola, ya que tuve la oportunidad de ser co-protagonista!</p>
        <video src="../img/cocacola.mov" width="300" height="200" controls></video>
        <video src="../img/bancociudad.mov" width="300" height="200" controls></video>
        
        <p>Y obviamente no puede faltar el amor por el <b>teatro</b></p>
        <video src="../img/teatroshrek.mov" width="300" height="200" controls></video>
        <img src="../img/teatro.png" alt="teatroshrek" width="250" height="150">
        <br>
        <br>
        
        <p>Personalmente el ambiente artístico me formó a ser una persona bastante abierta en base a su pensamiento, y sobre todo creativa! Por eso me es importante compartir ésto, ya que si no hubiese realizado nada de eso, sería una persona completamente introvertida.</p>


    </main>

    <br>
    <br>
    
    <footer>
        <h4>¿Querés ver más?</h4>
        <li> <a href="view/hobby.html">Mis hobbys</a> </li>
        <li> <a href="view/work.html">Mi trabajo</a> </li>
        <li> <a href="../home.html">Volver al inicio</a> </li>

    </footer>
    
</body>

</html>