<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbys</title>
</head>
<body>
    <header>
        <br>
        <br>    
        
        <h2>Mis hobbys</h2>
        <img src="../img/bass2.png" alt="" width="300" height="300"> 
       
    </header>

    <br>
    <br>

    <main>
        <p>Soy alguien que siempre tiene que estar haciendo algo, y por eso tengo <strong>demasiados</strong> hobbys.</p>
        <p>Voy a contarles los más importantes para mí!</p>
        <p><i>(Ya mi carrera actoral y teatral la cuento en la página <a href="aboutme.html">"Sobre mí")</a></i></p>

 <img src="https://static.vecteezy.com/system/resources/thumbnails/048/333/005/small/glitter-and-gold-line-png.png" alt="linea-divisoria" width="400" height="50"> 
    <h4>Baile</h4>
    <p>Desde que soy pequeña amé bailar, siempre tuve idas y vueltas y conocí muchos estilos. Mis favorito era fusión (control corporal al 100%) y hoy en día es Heels (uso botas con tacos de punta).</p>
    <img src="../img/baile.png" alt="baile-foto" width="250" height="250">

    <h4>Música</h4>
    <p>Fui a un secundario orientado en arte y música, en el que adquirí un conociendo avanzado en teoría musical y me hizo aprender a tocar varios instrumentos, como ser el <strong>bajo</strong>, guitarra, piano, violín y ukelele.</p>
    <p>Un dato, teníamos que ensamblar con compañeros ya que realizábamos muestras de ensamble y canto para los padres de los alumnos, y tocábamos temas originales y/o covers.</p>
    <img src="../img/bass1.png" alt="bajo-foto1" width="250" height="250">
    <img src="../img/bass2.png" alt="bajo-foto2" width="250" height="250">
    <img src="../img/bass3.png" alt="bajo-foto3" width="250" height="250">

    <h4>Juegos</h4>
    <p>Tuve una época viciosa a los videojuegos, mis favoritos eran el Counter Strike Global Ofensive (CS-GO), el GTA V, Rainbow Six, Team Fortress 2, Minecraft y Paladins. En su mayoría eran shooters.</p>
    <p>Agradeciéndole a la pandemia por adentrarme al mundo de la tecnología ꨄ︎</p>
    
    <h4>Manicura</h4>
    <p>También aprendí a hacerme uñas ya que me salía más rentable. Solo me las hago a mí ya que no tengo un certificado y los conocimientos suficientes como para usar otras manos o trabajar de ésto.</p>    
    <img src="../img/unias1.png" alt="unia-foto1" width="250" height="250">
    <img src="../img/unias2.png" alt="unia-foto2" width="250" height="250">
    
    <h4>Patín sobre hielo</h4>
    <p>Uno de mis deportes favoritos. Me encantaba que me acostumbraba al clima frío y lo pasaba muy bien. No fui muy buena, pero me divertía demasiado. Tuve que dejarlo cuando comencé a trabajar.</p>
    <img src="../img/patin1.png" alt="patin-foto1" width="250" height="250">
    <img src="../img/patin2.png" alt="patin-foto2" width="250" height="250">

    <h4>Cerámica</h4>
    <p>Para despejar mi mente, a pesar de necesitar paciencia y que me es un poco complicado eso, me gustaban los resultados.</p>
    <img src="../img/ceramica1.png" alt="ceramica-foto1" width="250" height="250">
    <img src="../img/ceramica2.png" alt="ceramica-foto2" width="250" height="250">

    </main>
    
    <footer>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/048/333/005/small/glitter-and-gold-line-png.png" alt="linea-divisoria" width="400" height="50"> 
        <h4>¿Querés ver más?</h4>
        <ul>
        <li> <a href="aboutme.html">Sobre mí</a> </li>
        <li> <a href="work.html">Mi trabajo</a> </li>
        <li> <a href="../home.html">Volver al inicio</a> </li>
        </ul>
    </footer>
</body>
</html>