<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trabajo</title>
</head>

<body>

  <header>
    <br>
    <br>    
   
    <h2>Mi trabajo</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Hip%C3%B3dromo_Argentino_de_Palermo.jpg" alt="hipodrmo-palermo" width="400" height="200"> 
   
    
  </header>
<br>
<br>
  <main>
    
    <p>Trabajo en el <strong>Hipódromo de Palermo</strong>, ingresé en Diciembre del 2024.</p>
    <p>Es mi primer experiencia laboral.</p>
     <img src="https://static.vecteezy.com/system/resources/thumbnails/048/333/005/small/glitter-and-gold-line-png.png" alt="linea-divisoria" width="400" height="50"> 

      <h3>¿Qué puesto tengo?</h3>
      <p>
        Trabajo como <strong>auxiliar de sala</strong>, me encuentro en la parte del Casino, donde gestiono sumas grandes de dinero, realizo soporte de máquinas y manejo atención al cliente.
      </p>

      <img src="https://www.soloazar.com/storage/images/36793_crop916004_760px_WA2OuKhjpEhZ6dMUkeZPRTEk2EC67378cYd.jpg" alt="casino-referencia" width="400" height="200">
      
    <h3>Tareas principales</h3>
        <ul>
          <li>Realizo ventas y pagos de dinero en la caja.</li>
          <li>Atiendo reclamos de clientes en la sala, ya sea para un arreglo coherente en la máquina o vender.</li>
          <li>Direcciono y brindo la información a la que se me permite para que los clientes se sientan sastifechos.</li>
          <li>Derivar a personal responsable ante consultas específicas o incidencias.</li>
        </ul>

    <h3>Opinión personal</h3>
      <p>Es un trabajo bastante difícil de llevar, es estar constantemente atendiendo a personas que quizá no están muy direccionadas, y lastimosamente se puede notar la ludopatía en mi trabajo. De todas formas, estoy bastante agradecida de poder trabajar de ésto, ya que me enriquece en experiencia.
      <p>Pero no es complicado, son tareas sencillas las que nos piden que realicemos. Lo único "importante" sería estar atento con respecto al dinero que manejamos, ya que si llegamos a tener alguna diferencia nos lo van a descontar. Y más que nada porque son sumas muy grandes.</p>


  </main>
  <br>
  <br>
  <footer>
     <img src="https://static.vecteezy.com/system/resources/thumbnails/048/333/005/small/glitter-and-gold-line-png.png" alt="linea-divisoria" width="400" height="50">     
     <h4>¿Querés ver más?</h4>
        <ul>
        <li> <a href="hobby.html">Mis hobbys</a> </li>
        <li> <a href="aboutme.html">Sobre mí</a> </li>
        <li> <a href="../home.html">Volver al inicio</a> </li>
        </ul>
  </footer>
</body>
</html>
